{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h2 class="text-center"> </h2>
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->

                    <form action="/producto/guardar" method="post">
                        <div class="card border-success rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-success text-white text-center py-2">
                                    <h3><i class="fa fa-pencil-square-o"></i>Producto</h3>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Categoría</div>
                                        </div>
                                        <select class="form-control" id="idcategoria" name="idcategoria" placeholder=" ">
                                             {% for item in categoria %}
                                                {% if producto.idcategoria.id == item.id %}
                                                   <option value="{{ item.id }}" selected> {{ item.nombre }}</option>
                                                   {% else %}
                                                        <option value="{{ item.id }}"> {{ item.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}                                                                                        
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Nombre</div>
                                        </div>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" value="{{producto.nombre}}">
                                    </div>
                                </div>

                                 <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Descripción</div>
                                        </div>
                                        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" value="{{producto.descripcion}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Stock</div>
                                        </div>
                                        <input type="text" class="form-control" id="stock" name="stock" placeholder="Stock" value="{{producto.stock}}">
                                    </div>
                                </div>

                                 <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Precio</div>
                                        </div>
                                        <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" value="{{producto.precio}}">
                                    </div>
                                </div>


                                {# <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-pencil-square-o"></i>Imagen Categoria</div>
                                        </div>
                                        <input type="text" class="form-control" id="imagen" name="imagen" placeholder="Url imagen" required>
                                    </div>
                                </div> #}

                                <input type="hidden" name="id" value="{{producto.id}}">

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                    
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->
                    <div class="col-sm-12 col-md-12">
                        <button class="btn btn-lg btn-block btn-success text-uppercase" style="margin-top:100px"><a href="/producto" style="text-decoration: none; color:blanchedalmond;">Volver a Productos</a></button>
                    </div>
                     {% if mensaje is defined %}
                        <span style="color:green">Se ha guardado correctamente</span>
                    {% endif %}
                </div>
	</div>
</div>
{% endblock %}